@font-face {
  font-family: "Crimson Text", serif;
  src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap");
  font-display: swap;
}

body {
  --primary: #1a213d;
  --primary-dark: #0e1324;
  --primary-light: #3577bc;
  --secondary-light: #e9764f;
  --secondary: #d14f34;
  --tertiary: #fcefb2;
  --tertiary-dark: #f9e075;

  background-color: var(--primary-dark) !important;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      310deg,
      transparent 75%,
      rgba(255, 255, 255, 0.9) 79.5%,
      rgba(255, 255, 255, 0.9) 80.5%,
      transparent 85%
    );
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      50deg,
      transparent 75%,
      rgba(255, 255, 255, 0.9) 79.5%,
      rgba(255, 255, 255, 0.9) 80.5%,
      transparent 85%
    );
  }
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
    color: var(--tertiary);
    font-weight: 500;
  }
}

.bande-film-top {
  margin-top: 25px;

  &::before {
    background-image: url("/images/bande-film.svg");
    content: "";
    height: 50px;
    width: 100%;
    margin-top: -25px;
    background-repeat: repeat-x;
    position: absolute;
  }
}

.bande-film-bottom {
  margin-bottom: 25px;

  &::after {
    background-image: url("/images/bande-film.svg");
    content: "";
    height: 50px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    bottom: -25px;
  }
}
