@font-face {
  font-family: "RumbleBrave";
  src: url("./Rumble_Brave.woff2");
  font-display: swap;
}

body {
  --primary: #1a213d;
  --primary-dark: #1a213d;
  --primary-light: #3577bc;
  --secondary-light: #e9764f;
  --secondary: #d14f34;
  --tertiary: #fcefb2;
  --tertiary-dark: #f9e075;
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
    color: var(--tertiary);
    font-weight: 500;
  }
}
